*{
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    color: white;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, ul{
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black,2px 0 black, 0 -2px black;
}

p{text-shadow: -2px 0 black, 0 2px black,2px 0 black, 0 -2px black;
}



body {
    background-color: rgba(0, 16, 32, 0.705);
    background-image: url(/img/andre-benz-xQpkcU2MK9I-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: top center;
    z-index: 2;
}


.container{
    width: 95%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 450px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transform: 1s;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;

}

.box:hover{
    transform:scale(1.3);
    transition-duration: 1s;
    transform-style: preserve-3d;
    z-index: 2;
}


#perfil{
    object-position: left;
    text-justify: auto;
    position: relative;
    text-align: justify;
}

#imgperfil{
    object-position: center;
    padding: 5px, 5px;
    border-image: round;
    width: 350px;
    height: 350px;
    align-content: center;
    margin-left: auto;
    padding: 0, 0, 0, 0;
    position: static;
    border-image: 5px;
}



button {
    width: 140px;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
}
   
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #2E4CA6;
    z-index: -1;
    transition: all 0.5s;
}

button:hover::before {
    width: 100%;
}
   
button:hover {
    color: black;
}

a{
    text-decoration-line: none;
    cursor: pointer;
}


.credit a:hover {
    color: rgb(126, 182, 255);
    text-shadow: 0 0 8px white;
}

.paragraph{
    padding: 70px, 20px;
}

.text{
    margin-right: 280px;
    margin-left: 480px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header, footer { 
    display: flex; 
    align-items: baseline; 
    justify-content: space-around; 
    background-color: #0D0D0D; 
    padding: 15px 0px;
}


@media screen and (max-width:480px){
	body {
		font-size:80%;
        background-image: url(/img/andre-benz-xQpkcU2MK9I-unsplash.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100%;
        background-position: top center;
        box-shadow: rgba(0, 13, 27, 0.884);
        z-index: 2;
	}
}